[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Comment=MusicLED
Name=MusicLED
Terminal=false
Exec=/home/pi/musicled/musicled 192.168.86.56 25E316CE85D2D879
