[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Comment=MusicLED
Name=MusicLED
Terminal=false
Exec=/home/pi/musicled/musicled ESPURNA-4BD512 527877A979AFE2A2
